
.card {
  width: 7em;
  height: 10em;
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  
  margin: 0.2em;
  display: inline-block;

  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75); 
  font-size: 16px;   
  box-sizing: border-box;
}

.card-head {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
}

.card-bottom {
  position: absolute;
  transform: rotate(180deg);
  bottom: 0.5em;
  right: 0.5em;
}

.card-spades, .card-clubs {
  color: #000; 
}

.card-hearts, .card-diamonds {
  color: #D40000; 
}

.card-hearts .card-suit:after {
  content: "\2665"
}  

.card-spades .card-suit:after {
  content: "\2660"
}  

.card-diamonds .card-suit:after {
  content: "\2666"
}  

.card-clubs .card-suit:after {
  content: "\2663"
}      